@import './base.css';

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.btn.btn-primary:disabled {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.page-title {
  font-size: 26px;
}

.btn-link {
  color: #000000;
}
